<!DOCTYPE html>
{% load staticfiles %}
    <html>
        <head>
            <title>Libros</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">


          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </head>
        <body>
        <div class="page-header" align="right">
{#            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>#}
            <p> <a href="{% url 'post_new' %}" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-plus"></span> Nuevo Libro
        </a>
      </p>
{#            <button type="submit" class="btn btn-primary">Agregar Libro</button>#}
            <h2>Registro de Libros</h2>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
    </html>