<!DOCTYPE html>

{% extends 'blog/base.html' %}

{% block content %}
  <h1 class="page-header">Listado De Libros</h1>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>Nombre de Libro</th>
        <th>Descripcion </th>
        <th>Editorial </th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
        <td>  <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></td>
         <td>{{ post.text }}</td>
        <td>{{ post.editorial }}</td>
          </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">No book</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}